.head{
    width: 10px;
    height: 0px;
    border: px solid cyan;
    border-top: 50px solid cyan;
    border-left:75px solid cyan;
    border-right:75px solid cyan;
    border-bottom:150px solid cyan;
    border-radius: 200px;
    position: absolute;
    margin: 50px 0px 0px 200px
  }
  .mouth{
     width: 30px;
    height: 10px;
    border: 2px solid black;
     border-top: 10px solid magenta;
  border-left:50px solid magenta;
  border-right:50px solid magenta;
  border-bottom:50px dashed magenta;
    border-radius: 55px;
    position: absolute;
    margin: 150px 0px 0px 205px    
  }
    .left-eye{
    height: 10px;
    width: 10px;
    border-top: 20px solid yellow;
    border-left: 10px solid yellow;
    border-right:11px solid yellow;
    border-bottom:20px solid yellow;
    border-radius: 100px;
    position: absolute;
    margin: -80px 0px 0px -40px
  }
 .right-eye{
    height: 10px;
    width: 10px;
    border-top: 20px solid yellow;
    border-left: 10px solid yellow;
    border-right:11px solid yellow;
    border-bottom:20px solid yellow;
    border-radius: 100px;
    position: absolute;
    margin: -20px 0px 0px 50px
  }

 .body{
     width: 20px;
    height: 0px;
     
  border-left:400px solid magenta;
  border-right:100px solid magenta;
  border-bottom:200px solid magenta;
    border-radius: 250px;
    position: absolute;
    margin: -30px 0px 0px 75px    
}
  .head{
    width: 10px;
    height: 0px;
    border: px solid cyan;
    border-top: 50px solid cyan;
    border-left:75px solid cyan;
    border-right:75px solid cyan;
    border-bottom:150px solid cyan;
    border-radius: 200px;
    position: absolute;
    margin: 50px 0px 0px 200px
  }
  .mouth{
     width: 30px;
    height: 10px;
    border: 2px solid black;
     border-top: 10px solid magenta;
  border-left:50px solid magenta;
  border-right:50px solid magenta;
  border-bottom:50px dashed magenta;
    border-radius: 55px;
    position: absolute;
    margin: 150px 0px 0px 205px    
  }
    .left-eye{
    height: 10px;
    width: 10px;
    border-top: 20px solid yellow;
    border-left: 10px solid yellow;
    border-right:11px solid yellow;
    border-bottom:20px solid yellow;
    border-radius: 100px;
    position: absolute;
    margin: -80px 0px 0px -40px
  }
 .right-eye{
    height: 10px;
    width: 10px;
    border-top: 20px solid yellow;
    border-left: 10px solid yellow;
    border-right:11px solid yellow;
    border-bottom:20px solid yellow;
    border-radius: 100px;
    position: absolute;
    margin: -20px 0px 0px 50px
  }

 .body{
     width: 20px;
    height: 0px;
     
  border-left:400px solid magenta;
  border-right:100px solid magenta;
  border-bottom:200px solid magenta;
    border-radius: 250px;
    position: absolute;
    margin: -30px 0px 0px 75px }   
  
    .leg1{width: 10px;
    height: 0px;
    border-top: 100px solid black;
    border-left: 10px solid black;
    border-right:11px solid ;
    border-bottom:20px solid black;
    border-radius: 00px;
    position: absolute;
      margin: 22px 0px 0px -250px}
  
  .leg2{width: 10px;
    height: 0px;
    border-top: 100px solid black;
    border-left: 10px solid black;
    border-right:11px solid ;
    border-bottom:20px solid black;
    border-radius: 00px;
    position: absolute;
      margin: -98px 0px 0px 180px}

  .arm{width: 10px;
    height: 0px;
    border-top: 20px solid black;
    border-left: 10px solid black;
    border-right:111px solid ;
    border-bottom:20px solid black;
    border-radius: 100px;
    position: absolute;
      margin: -10px 0px 0px -300px}

  .stripe{width: 10px;
    height: 0px;
    border-top: 200px solid white;
    border-left: 10px solid white;
    border-right:10px solid white;
    border-bottom:200px solid white;
    border-radius: 0px;
    position: absolute;
      margin: -75px 0px 0px 10px}
.stripe1{width: 10px;
    height: 0px;
    border-top: 200px solid white;
    border-left: 10px solid white;
    border-right:10px solid white;
    border-bottom:200px solid white;
    border-radius: 0px;
    position: relative;
      margin: -150px 0px 0px -80px}
  }
  .leg2{width: 10px;
    height: 0px;
    border-top: 100px solid black;
    border-left: 10px solid black;
    border-right:11px solid ;
    border-bottom:20px solid black;
    border-radius: 00px;
    position: absolute;
      margin: -98px 0px 0px 180px}

  .arm{width: 10px;
    height: 0px;
    border-top: 20px solid black;
    border-left: 10px solid black;
    border-right:111px solid ;
    border-bottom:20px solid black;
    border-radius: 100px;
    position: absolute;
      margin: -10px 0px 0px -300px}

  .stripe{width: 10px;
    height: 0px;
    border-top: 200px solid white;
    border-left: 10px solid white;
    border-right:10px solid white;
    border-bottom:200px solid white;
    border-radius: 0px;
    position: absolute;
      margin: -75px 0px 0px 10px}
.stripe1{width: 10px;
    height: 0px;
    border-top: 200px solid white;
    border-left: 10px solid white;
    border-right:10px solid white;
    border-bottom:200px solid white;
    border-radius: 0px;
    position: relative;
      margin: -150px 0px 0px -80px}
  }