<!DOCTYPE html>
<html>
<head>
	<title>Git Notes</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<h1>Git Notes</h1>	
	<div class="local-remote">
		<h3>Local</h3>
			<ul>
				<li>Locally means that things are happening just on my computer.</li>
				<li>Local commits back up to a local repository and others can't access until we push to a remote.</li>
			</ul>
		<h3>Remote</h3>
			<ul>
				<li>Remote means your browser connects to an online server.</li>
				<li>Remote repositories can be accessed by fellow team members(private repo) or publically(public repo).</li>
			</ul>

		<hr>
		<h2> Local Set Up.</h2>
			<ol>
				<li>Open your command line/terminal.</li>
				<li>Use the cd command to navigate your folder. For example <b>cd desktop/playground
				</b></li>
				<li>Type in <b>git init. "Initialized empty git repository in dir/filename/stuff/here"</b></li>
			</ol>
		<h2>Local Commits</h2>
			<ol>
				<li>Make sure you're in the proper directory in the command line.</li>
				<li>Enter <b>git add. Note: This will add all the files that you've changed.
				</b></li>
				<li>Enter<b>git commit -m "A note about the things you've changed."</b>Note: The words in quotes can be anything.</li>
				<li>Your code is now backed up locally.</li>
			</ol>
		</div>
		<hr>





</body>
</html>